<!DOCTYPE HTML PUBLIC>
<html>

<head>
  <title>Metal Maps Gallery</title>
  <meta name="AUTHOR" content="Mladen Ivkovic">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" href="metalmaps_styles.css">
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Roboto|Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Roboto|Open+Sans&display=swap" rel="stylesheet">
</head>


<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- =============================================================== -->


<!-- Table of Contents -->
<nav>
<div class="sidenav">
<p class="sidenav_title">Quick Access</p>
  <ul class="sidenav_list">
<hr/>
    <li><a class=menu href="#top">  Top    </a></li>
    <li><a class=menu href="#contents">  Contents    </a></li>
<hr/>
    {% for item in cmaps %} 
      {% for suf in suffixes %}
    <li><a class=menu href="#{{item.name}}{{suf}}">  {{item.name}}{{suf}}    </a></li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
</nav>



<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- =============================================================== -->


<body>
<div id="maintext">


<!-- ================================= -->
<h1 id=top> Metal Maps Gallery </h1>
<!-- ================================= -->

<p>
Ever wanted to make your python plots more metal? Fear not, now you can!
<i>metalmaps</i> delivers heavy metal and classic rock album art inspired 
matplotlib colormaps. For installation instructions and other details, please
visit the <a href="https://github.com/mladenivkovic/metalmaps">github repository</a>.
This page provides a gallery of all available colormaps below.
</p>


<p>
But first, credit where credit is due:

<ul>
  <li> 
    All of this was inspired by (and shamelessly copied from) Josh Borrow's 
    <a href="https://github.com/jborrow/swiftascmaps">swiftascmaps</a>
  </li>
  <li> 
    The "Kelvin-Helmholtz" data used in the plots below were generated using 
    <a href="https://github.com/mladenivkovic/mesh-hydro">mesh-hydro</a>.  
  </li>
  <li> 
    The "EAGLE" data used in the plots below were obtained from the 
    <a href="https://github.com/SWIFTSIM/SWIFT">swiftsim repository</a>.
  </li>
  <li> 
    The "NGC" data used in the plots below were originally obtained from 
    <a href="https://www.flickr.com/photos/geckzilla/52040747525/">flickr</a>,
    credits to <a href="https://www.flickr.com/people/geckzilla/">Judy Schmidt</a>.
    I modified the image later to normalize the pixel values to be able to demonstrate
    the colormaps as below.
  </li>
  <li>
    The album covers are linked over from <a href="https://musicbrainz.org/"> musicbrainz.org</a>.
  </li>
</ul>
</p>







<h2 id=contents> Contents </h2>
<p>
<ul class="toc_list">
  {% for item in cmaps %}
  <li><a href="#{{item.name}}_main">  {{ item.pretty_name }} (<i>{{item.artist}}</i>)    </a></li>
  {% endfor %}
</ul>
</p>



{% for item in cmaps %}
<!-- ================================= -->
<h2 id="{{item.name}}_main"> {{item.pretty_name}} (<i>{{item.artist}}</i>) </h2>
<!-- ================================= -->

<a href=#contents>Back to table of contents</a>

<img src="{{item.url}}" alt="{{ item.name }}" class=album>


{% for suf in suffixes %}
<h3 id="{{item.name}}{{suf}}"> {{item.name}}{{suf}} </h3>
<!-- ================================= -->


<div class="row">
  <div class="column">
    <img src="images/KH-metalmaps.{{item.name}}{{suf}}.jpg" alt="Kelvin Helmholtz Instability | {{item.name}}{{suf}}" style="width:100%">
  </div>
  <div class="column">
    <img src="images/NGC-metalmaps.{{item.name}}{{suf}}.jpg" alt="NGC7496 | {{item.name}}{{suf}}" style="width:100%">
  </div>
  <div class="column">
    <img src="images/EAGLE-metalmaps.{{item.name}}{{suf}}.jpg" alt="EAGLE 25 z~0.1 | {{item.name}}{{suf}}" style="width:100%">
  </div>
</div> 



{% endfor %}
{% endfor %}









</div> <!-- maintext -->

<footer>
<p.foot> Page generated {{date}}, metalmaps version {{version}} </p>
</footer>

</body>
</html>
