<body>

{{NAVIGATION_BAR}}


<!-- --------------------------------------------------------------- -->
<!-- -------------------   START MAINTEXT   ------------------------ -->
<!-- --------------------------------------------------------------- -->


<div id="maintext">


{{MAINTEXT}}


<!-- --------------------------------------------------------------- -->
<!-- --------------------   END MAINTEXT  -------------------------- -->
<!-- --------------------------------------------------------------- -->


</div> <!--Maintext-->

{{FOOTER}}

</body>
