{% if add_sidebar == True %}
<body class=hasSidebar>
{% else %}
<body>
{% endif %}

{{NAVIGATION_BAR}}

{{SIDEBAR}}


<!-- --------------------------------------------------------------- -->
<!-- -------------------   START MAINTEXT   ------------------------ -->
<!-- --------------------------------------------------------------- -->


<div id="maintext">


{{MAINTEXT}}


<!-- --------------------------------------------------------------- -->
<!-- --------------------   END MAINTEXT  -------------------------- -->
<!-- --------------------------------------------------------------- -->


</div> <!--Maintext-->

{{FOOTER}}

</body>
